<mat-card class="body">
  <mat-card-header>
    <mat-card-title>
       Añadir pelicula
    </mat-card-title>
  </mat-card-header>
  <br />
  <mat-divider></mat-divider>

      <br />
      <form [formGroup]="AddingForm" (ngSubmit)="CreateFilm()">

        <mat-form-field class="form" appearance="fill">
          <mat-label>Titulo</mat-label>
          <input
            type="text"
            matInput
            formControlName="tittle"
            #inputtle
            maxlength="60"
          />
          <mat-hint
          align="start"
          style="color: red"
          *ngIf="(Tittle.errors?.['required'] && Tittle.touched)"
          > El campo esta vacio
          </mat-hint>
          <mat-hint align="end">{{ inputtle.value.length }}/60</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Descripcion</mat-label>
          <input
            type="text"
            matInput
            formControlName="description"
            #inputdes
            maxlength="250"
          />
          <mat-hint
          align="start"
          style="color: red"
          *ngIf="(Description.errors?.['required'] && Description.touched)"
          > El campo esta vacio
          </mat-hint>
          <mat-hint align="end">{{ inputdes.value.length }}/250</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Fecha de lanzamiento</mat-label>
          <input
            type="date"
            matInput
            formControlName="releaseDate"

            maxlength="250"
          />
          <mat-hint
          align="start"
          style="color: red"
          *ngIf="(ReleaseDate.errors?.['required'] && ReleaseDate.touched)"
          > El campo esta erroneo/vacio
          </mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field class="form" appearance="fill">
          <mat-label>Categorias</mat-label>
          <mat-select formControlName="category" multiple>
            <mat-option *ngFor="let category of categories" [value]="category">
              {{ category }}
            </mat-option>
          </mat-select>
          <mat-hint
          align="start"
          style="color: red"
          *ngIf="(Category.errors?.['required'] && Category.touched)"
          > El campo esta vacio
          </mat-hint>
        </mat-form-field>

        <mat-form-field class="form" appearance="fill">
          <mat-label>Imagen</mat-label>
          <input
          matInput
          formControlName="imagePath" 
          type="text"
          readonly
          />
        </mat-form-field>
        <br>
        <input
        id="imageInput" 
        hidden 
        type="file" 
        #uploader
        (change)="uploadImage($event)"
    />
        <button
        (click)="uploader.click()"
        mat-raised-button
        color="accent"
        >Subir imagen</button>
        </form>
        <br>
        


  <mat-card-actions>
    <button
      class="form"
      mat-raised-button
      color="primary"
      type="button"
      (click)="CreateFilm()"
    >
      Añadir
    </button>
    <button
    class="form"
    mat-raised-button
    color="warn"
    type="button"
    (click)="close()"
  >
    Cancelar
  </button>


  </mat-card-actions>
</mat-card>
