mat-card-title {
  font-size: 25px;
}

.body {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.content h2 {
  margin: 0%;
}

mat-card-actions {
  gap: 10px;
}