<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let film of films">
      <mat-card class="mat-elevation-z4" >
        <mat-card-header>
          <mat-card-title> {{film.tittle}} </mat-card-title>
          <mat-card-subtitle> {{film.releaseDate | date:'dd-MM-yyyy' }} | {{film.category}} </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="./assets/imgs/login.png">
        <mat-card-content>
          <p>
            {{film.description}}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
  </div>